/* 
JIEE-PGMI
*/

.pkp_site_name .is_img img {
    max-height: 1000px;
}


.pkp_structure_page {
    margin: 0 auto;
    max-width: 1160px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1200px) {
    .pkp_structure_page {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}



.pkp_head_wrapper,
.has_site_logo .pkp_head_wrapper {
    position: relative;
    padding-top: 0;
}


.pkp_navigation_primary_row {
    background: #000;
    padding-left: 30px;
    padding-right: 30px;
}



/* Struktur Sidebar */
.kepala {
    background-color: #4586d9;
    color: #fff;
    padding: 0.8rem;
    border-bottom: 0.3rem solid #f3ca4b;
    font-weight: bold;

}

.badan {
    /* background-color: rgb(83, 248, 111); */
    margin-top: -12px;
}


.badan a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    background-color: rgb(100, 158, 244);
    color: black;
    border-bottom: rgb(255 255 255) 0.2rem solid;
    transition: 0.4s;
    /* margin: 0.5rem 0rem 0.5rem 0rem; */
    position: relative;
    z-index: 1;
}

.badan a:hover {
    background-color: #0f67f4;
    box-shadow: gray 0px 0px 1px 0px;
}

.badan a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #ed991f;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 800ms;
}

.badan a:hover::after {
    transform: scaleX(1);
}





/* Table of content */

.obj_article_summary {
    box-shadow: 3px 3px 5px;
    padding: 20px;
    border-radius: 10px;
    background: #f0f0f0;
}

.obj_article_summary:hover {
    background: khaki
}


.obj_article_summary {
    padding-bottom: 10px !important;
    //border-bottom: solid 4px #800000 !important;
    font-size: 12px;
}

.meta .authors {
    background: url(https://i.ibb.co/wwXb1Bh/icon-group.png) 1px 2px no-repeat;
    margin-top: 4px;
    padding-bottom: 5px;
    padding-left: 30px;
}


/* Footer */
.pkp_structure_footer_wrapper {
    background: #4e91f0;
    border-bottom: 20px solid #2670d1;
    border-top: 4px solid #4e91f0;
}

.pkp_footer_content {
    float: left;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pkp_brand_footer {
    float: right;
    width: 20%;
    padding-bottom: 10px;
    padding-top: 50px;
}



/*Body and Abstrack*/
.main_entry .item.abstract {
    text-align: justify;
}

body {
    font-family: tahoma, geneva, sans-serif !important;
}


/* Struktur Header */
.pkp_site_name_wrapper {
    width: 100% !important;
}

.pkp_screen_reader {
    margin: 0px !important;
}

.pkp_navigation_primary_row {
    background: #000;
    font-weight: bold;
    border-top: 1px solid white
}


.pkp_site_name {
    margin: 0 !important;
    padding: 0px;
}

.pkp_site_name>a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pkp_site_name_wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

/* Ukuran Header */

.pkp_site_name .is_img img {
    max-height: 100% !important;
    max-width: 100% !important;

}

.pkp_site_name a {
    margin: auto !important;
}


/* Settingan Header */

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li {
    padding: 0 !important;
    margin: 0 !important;
}

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li a {
    margin: 0 !important;
    padding: 0 15px !important;
    line-height: 40px !important;
}

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li,
.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li a {
    font-family: tahoma, geneva, sans-serif;
    color: #ed991f !important;
    font-weight: bold !important;

}

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li a:hover {
    background: white;
    color: black !important;
    border-radius: 20px !important;
    border-right: solid 3px #ed991f;
    border-left: solid 3px #ed991f;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li ul,
.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li ul li a:hover {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li ul {
    background: #ffedc7 !important
}

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li ul li {
    border-bottom: solid 1px white !important;
}

.pkp_navigation_primary_row .pkp_navigation_primary_wrapper ul li ul li:last-child {
    border-bottom: none !important;
}





.pkp_site_name_wrapper {
    background: #ed991f;
    margi-bottom: 0px !important;
}

html,
body {
    background: url(https://i.ibb.co/zNMczxP/BG.png);
}

.pkp_page_index .homepage_image {
    display: block;
    width: 100%;
    height: auto;
}

.homepage_image {
    margin: 60px 0px 0px -20px;
    width: 300px;
    display: inline-block;
    float: left;
    box-shadow: 4px 2px 5px grey;
    margin-right: 15px;
}

.img {
    max-width: 100%;
    width: auto;
    height: auto;
    border-style: none;
}

.pkp_site_nav_toggle {
    background: #ed991f !important;
}

.pkp_navigation_search_wrapper {
    background: #ed991f;
    border-radius: 20px;
    transition: 0.5s;
}

.pkp_navigation_search_wrapper:hover {
    border-radius: 0px;
}

.search_controls a {
    color: #ed991f !important;
}

.pkp_search.pkp_search_desktop:hover {
    color: white;
    border-radius: 0px;
}


.homepage_about {
    text-align: justify;
}

.description {
    text-align: justify;
}

.obj_article_details .page_title {
    background: #d8d8d8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px;
}

.meta .authors {
    background: url(https://i.ibb.co/wwXb1Bh/icon-group.png) 1px 2px no-repeat rgba(0, 0, 0, 0);
    margin-top: 4px;
    padding-bottom: 5px;
    padding-left: 30px;
}


.profile a {
    background: #f3ca4b;
    color: black !important;

}

.pkp_navigation_user_wrapper {
    padding-left: 0;
    padding-right: 30px;
    padding-top: 10px
}

.pkp_navigation_user.pkp_nav_list .profile a {
    border-radius: 15px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-menu {
    background: #f3ca4b !important;

}

.dropdown-menu li a:hover {
    color: black !important;
}

.obj_issue_toc .heading .cover img {
    display: inline-block;
    float: left;
    box-shadow: 4px 2px 5px gray;
    padding-right;
    margin-right: 15px;
}



@media (max-width: 600px) {

    /* For mobile phones: */
    .homepage_about {
        width: 100%;
    }

    .pkp_structure_main {
        padding-top: 20px !important;
    }

    #navigationUser {
        margin-top: -10px;
        margin-left: 40px;
    }

    .pkp_site_name {
        margin-top: 30px !important;
    }
}

@media (max-width: 991px) {
    .homepage_about {
        margin-top: 30px;
    }

    .pkp_structure_main {
        margin-top: 0px !important;
    }

    .pkp_site_name_wrapper {
        padding-bottom: 0px;
    }

    .pkp_site_name_wrapper {
        padding-top: ;
    }

    .pkp_navigation_search_wrapper {
        margin: center !important;
        padding: 10px !important;
    }

    .pkp_structure_main {
        padding-top: 100px;
    }
}

@media (max-width: 360px) {

    /* For mobile phones: */
    .homepage_image {
        width: 90%;
        margin: 0;
    }

    .homepage_about {
        margin-top: 0px;
    }

    .pkp_structure_main {
        padding-top: 0px !important;
    }

}

.deskripsi {
    border: 2px #ed991f solid;
    padding: 10px;
    background-color: #ffedc7;
    text-align: left;
}

.pkp_block.block_custom {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.pkp_structure_sidebar.left {
    margin-top: -30px !important;
}

.additional_content {
    text-align: justify;
}